# no hidden files
.*

# no system maps (they're only used during development)
*.map

# no configs
*.json
*.yml

# no testing artifacts
*spec*
*test*

# no directories except for dist
*/
!dist/
dist/update/
