# no hidden files
.*

# no configs
*.json
*.yml
*.log
yarn.lock
package-lock.json

# no testing artifacts
*spec*
*test*

# internal use only:
dist/update/
benchmark/
snyk-linux

# no directories except for dist and data
*/
!dist/
!data/
